<!DOCTYPE html>

<html>

<head>
   <title>Sign Up</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
   <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css"/> 

   <style>
   .signup-form-window
   {
        box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.2);
        min-height: 100%;
        padding:80px;
        box-sizing:border-box;
   }
   .input-group{
      
        margin:20px;
   }
  </style>
  
 

</head>

<body>
     <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4 signup-form-window">
                    
               <form action="{% url 'signup' %}" method="post">{% csrf_token %}
                    {% if error %}
                            <div class="alert alert-danger">{{error}}</div>
                     {% endif %}
                     
                      <div class="input-group input-group-lg">
                       <span class="input-group-addon" id="sizing-addon1">@</span>
                       {{ form.user_name }}
                     </div>
                     <div class="input-group input-group-lg">
                       <span class="input-group-addon" id="sizing-addon1">@</span>
                       {{ form.user_email }}
                     </div>
                     <div class="input-group input-group-lg">
                       <span class="input-group-addon" id="sizing-addon1">@</span>
                       {{ form.user_password }}
                     </div>
                     <div class="input-group input-group-lg">
                       <span class="input-group-addon" id="sizing-addon1">@</span>
                       {{ form.user_confirmpassword }}
                     </div>
                     <div class="input-group input-group-lg">
                         <input type="submit" class="btn btn-lg btn-primary" />
                     </div>

               </form>
          </div>
      </div>

   </body>


</html>