   
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> RT Trending News</h3>
                            </div>
                            <div class="panel-body">
                                {% for element in rt_list %}
                                      {{ element|safe }} <br />
                                {% endfor %}
                            </div>
                        </div>
                    </div>