<div id="score_strength" class="box_analytics" style="margin-right:40px;">
    <div class="score">{{ polarity.positive }}<span class="score_title"></span></div>
    <div class="score_title">Positive</div>
</div>
<div id="score_sentiment" class="box_analytics">
    <div class="score">{{ polarity.negative }}</div>
    <div class="score_title">Negative</div>
</div>
<div id="score_passion" class="box_analytics" style="margin-right:40px; margin-bottom:10px;">
    <div class="score">{{ polarity.neutral }}<span class="score_title"></span></div>
    <div class="score_title">Neutral</div>
</div>
<div id="score_reach" class="box_analytics" style="margin-bottom:10px;">
    <div class="score">74<span class="score_title"></span></div>
    <div class="score_title">reach</div>
</div>
<div class="clearfix" style="clear:both; margin-top:10px;">
    <div class="box grey text">15 seconds avg. per mention
    </div>

    <div class="box grey text">last mention 45 seconds ago
    </div>
    <div class="box grey text">184 unique authors
    </div>
    <div class="box grey text">67 retweets
    </div>
</div>